@charset "UTF-8"; 

/* RESET CSS */
*{
scroll-behavior: smooth;
margin: 0%;
padding: 0%;
box-sizing: border-box;
;
}

body{
background: white;

}

.content{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: 100vh;
}

.sidebar{
background-color: #1746E0;
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 3;
display: grid;
align-content: center;
justify-content: center;
}
.sidebar img{
    padding: 10px;
}

.navbar{
    
    flex-direction: column;
    align-self: center;
}

.navbar form select{
    width: 260px;
    height: 30px;
    background-color: #f2f2f2;
    padding: 3px;
    border: 1px solid #ccc;
    color: #333;  
    border-radius: 3px;  
}
.buttonSearch{
    width: 200px;
    height: 30px;
    background-color: #1746E0;
    border: 1px solid #1746E0;
    color: white;
}

.activea:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



.graphic{
    background-color: #E1E7FC;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
}
.graphic h1{
    display: grid;
    text-align: center;
    align-content: center;
}